<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="VtigerTestSuite" verbose="1" preserve-order="true">

<!--    <listeners>
     <listener class-name="com.eva.vtiger.utils.MyAnnotationTransformer"></listener>   
     
   </listeners> -->
   
	<test name="MarketingSuite">
		<parameter name="browserName" value="chrome" />
		<parameter name="userName" value="admin" />
		<parameter name="password" value="admin" />
	
       <classes>
			<class name="com.eva.vtiger.inventorytestscripts.verifyVT006AccountAndContactAddOnInvoiceForm">
			</class>
		</classes>
	</test>

</suite>
